<header class="header mb-5">
  <nav
    class="py-4 navbar navbar-expand-lg navbar-light bg-light navbar-style ms-auto"
  >
    <div class="container-fluid">
      <div
        class="h1 mt-2 ml-2 pl-3 pr-3 pt-1 pb-1 bg-success text-light rounded border border-light"
        href="#"
      >
        Worthie
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-4" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto text-right">
          <a class="nav-link" href="/worthie"
            ><button
              class="btn btn-outline-warning btn-lg me-2 <%= path === '/yearmonth' ? 'active' : '' %>"
              type="button"
            >
              Year/Month
            </button></a
          >
          <a class="nav-link" href="/worthie/dash"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/' ? 'active' : '' %>"
              type="button"
            >
              Dashboard
            </button></a
          >
          <a class="nav-link" href="/worthie/expenses"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/expenses' ? 'active' : '' %>"
              type="button"
            >
              Expenses
            </button></a
          >
          <a class="nav-link" href="/worthie/income"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/income' ? 'active' : '' %>"
              type="button"
            >
              Income
            </button></a
          >
          <a class="nav-link" href="/worthie/investments"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/investments' ? 'active' : '' %>"
              type="button"
            >
              Investments
            </button></a
          >
          <a class="nav-link" href="/worthie/balancesheet"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/balancesheet' ? 'active' : '' %>"
              type="button"
            >
              Balance Sheet
            </button></a
          >
          <a class="nav-link" href="/worthie/instructions"
            ><button
              class="btn btn-outline-success btn-lg me-2 <%= path === '/instructions' ? 'active' : '' %>"
              type="button"
            >
              Instructions
            </button></a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
