<%- include('includes/head.ejs') %>

</head>

<%- include('includes/navigation.ejs') %>

<body>
    <div class="container text-center">
        <div class="d-flex justify-content-center">
          <div class="row mx-auto">
            <h1 class="mb-4"><%=pageTitle %></h1>
            <h5 class="mb-4 text-info"><%=activeMonth %> <%=activeYear %></h5>


    <div class="bg-light container border border-light rounded">
        <div class="row mt-4">
          <div class="col h5 text-end text-dark">
            Total Income:
          </div>
          <div class="col h5 text-start text-dark">
            <%=incomeTotal %>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col h5 text-end text-dark">
              Total Expenses:
            </div>
            <div class="col h5 text-start text-dark">
              <%=expenseTotal %>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col h5 text-end text-dark">
                Total Investments:
            </div>
            <div class="col h5 text-start text-dark">
              <%=investTotal %>
            </div>
        </div>
        <div class="row mt-3">
          <div class="col h5 text-end text-dark">
              Assets:
          </div>
          <div class="col h5 mb-3 text-start text-dark">
            <%=bsAssetTotal %>
          </div>
      </div>
      <div class="row mt-3">
        <div class="col h5 text-end text-dark">
            Liabilities:
        </div>
        <div class="col h5 mb-3 text-start text-dark">
          <%=bsLiabilityTotal %>
        </div>
    </div>
        <div class="row mt-3">
            <div class="col h5 text-end text-dark">
                Net Worth:
            </div>
            <div class="col h5 mb-3 text-start text-dark">
              <%=bsNetWorthTotal %>
            </div>
        </div>

    </div>

</body>

<%- include('includes/end.ejs') %>